addons/usr/bin/pvrhtb2txt filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvrlogsplit filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/rgx_blit_test filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/rgx_compute_test filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/rogue2d_fbctest filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/hwperfjsonmerge.py filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvrhtbd filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvr_memory_test filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvrtld filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvrdebug filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvrhwperf filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvr_mutex_perf_test_mx filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/rgx_triangle_test filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/rgx_twiddling_test filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/rgx_kicksync_test filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/rogue2d_unittest filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/hwperfbin2jsont filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/ocl_extended_test filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/ocl_unit_test filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvrlogdump filter=lfs diff=lfs merge=lfs -text
addons/usr/bin/pvrsrvctl filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libusc.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libVK_IMG.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libGLESv1_CM_PVR_MESA.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libpvr_dri_support.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libPVROCL.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libPVROCL.so.1 filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libsrv_um.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libufwriter.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libVK_IMG.so.1 filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libGLESv2_PVR_MESA.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libglslcompiler.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libPVRScopeServices.so filter=lfs diff=lfs merge=lfs -text
addons/usr/lib/libsutu_display.so filter=lfs diff=lfs merge=lfs -text
